<!-- <div class="image_dog" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/257570/pexels-photo-257570.jpeg'); background:fill"> -->
<p id="notice"><%= notice %></p>
<center>
<h2>Welcome <%= current_user.first_name %></h1>

<%= link_to 'Edit', edit_user_registration_path %>
<%= link_to 'Back', account_path %>


<h3>Pending booking requests</h3>
<table class="booking_style">
<thead>
  <th>Reference</th>
  <th>Pethome</th>
  <th>From</th>
  <th>To</th>
  <th>Status</th>
</thead>

<tbody>
  <% @pending_my_bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.pethome_id %></td>
      <td><%= booking.starting_date %></td>
      <td><%= booking.ending_date %></td>
      <td><%= booking.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<h3>Approved booking requests</h3>
<table class="booking_style">
<thead>
  <th>Reference</th>
  <th>Pethome</th>
  <th>From</th>
  <th>To</th>
  <th>Status</th>
</thead>

  <% @approved_my_bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.pethome_id %></td>
      <td><%= booking.starting_date %></td>
      <td><%= booking.ending_date %></td>
      <td><%= booking.status %></td>
    </tr>
  <% end %>
</table>


<h3>Pending pethome bookings</h3>
<table class="booking_style">
<thead>
  <th>Reference</th>
  <th>Pethome</th>
  <th>From</th>
  <th>To</th>
  <th>Status</th>
</thead>

  <% @pending_pethome_bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.pethome_id %></td>
      <td><%= booking.starting_date %></td>
      <td><%= booking.ending_date %></td>
      <td><%= booking.status %></td>
      <td><%= link_to  "approve", "bookings/#{booking.id}/approve", class: "btn btn-success", method: "patch" %></td>
    </tr>
  <% end %>
</table>


<h3>Approved pethome bookings</h3>
<table class="booking_style">
<thead>
  <th>Reference</th>
  <th>Pethome</th>
  <th>From</th>
  <th>To</th>
  <th>Status</th>
</thead>
  <% @approved_pethome_bookings.each do |booking| %>
    <tr>
      <td><%= booking.id %></td>
      <td><%= booking.pethome_id %></td>
      <td><%= booking.starting_date %></td>
      <td><%= booking.ending_date %></td>
      <td><%= booking.status %></td>
    </tr>
  <% end %>
</table>
</center>
<!-- </div> -->
<!-- create_table "users", force: :cascade do |t|
    t.string "email", default: "", null: false
    t.string "encrypted_password", default: "", null: false
    t.string "reset_password_token"
    t.datetime "reset_password_sent_at"
    t.datetime "remember_created_at"
    t.integer "sign_in_count", default: 0, null: false
    t.datetime "current_sign_in_at"
    t.datetime "last_sign_in_at"
    t.inet "current_sign_in_ip"
    t.inet "last_sign_in_ip"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.string "picture"
    t.string "first_name"
    t.string "last_name"
    t.index ["email"], name: "index_users_on_email", unique: true
    t.index ["reset_password_token"], name: "index_users_on_reset_password_token", unique: true
  end
 -->
