
<h2><%= @pethome.address %></h2>
<p><%= @pethome.bedrooms %></p>
<p><%= image_tag @pethome.picture %></p>
<h3>Pets</h3>

<% if @pethome.user == current_user %>
  <%= render "pets/form" %>
<% end %>

<% @pethome.pets.each do |pet| %>
  <p><%= pet.name %></p>
<% end %>
